* {
    margin: 0;
    box-sizing: border-box;
}

.page {
    width: 100wv;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pending-container {
    display: flex;
    flex-direction: column;
}